img {
  width: 100%;
}

.landing {
  position: relative;
  background: url("./img/victor-xok-528238-unsplash.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.landing-inner {
  padding-top: 80px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: rgb(247, 239, 239) !important;
}

.navbar-brand {
  color: white;
}
.navbar {
  color: black;
}
.card-body {
  color: black;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

.nav-link {
  color: white;
  opacity: 0.7;
}

.nav-link:hover {
  color: black;
  opacity: 0.7;
}

p.lead1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em white; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 8s steps(40, end), blink-caret 0.75s step-end infinite;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 75%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

.align-middle {
  margin-left: 750px;
}

.card-title {
  margin-right: 100px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 100px;
}

.card-text {
  margin-left: 400px;
}

.dashboard {
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.profiles {
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.fas .fa-clock {
  word-spacing: 2px;
}

i {
  margin-right: 10px;
}
.calendar {
  position: relative;
  background: url("./img/beautiful-cute-daylight-1468377.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.google {
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.card-title .map {
  font-family: "Gloria Hallelujah", "cursive";
}

.atag {
  color: white;
  text-decoration: none;
}

.atag:hover {
  color: white;
  text-decoration: none;
}

h4 .btn-secondary {
  margin-right: 1000px;
}

.exploretitle {
  font-family: "Mali", "cursive";
  font-size: 40px;
}

.feed {
  height: 100vh;

  margin-bottom: -50px;
}

.card3 {
  position: relative;
  background: url("./img/autumn-background-beautiful-627823.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: -24px;
}

.cal{
  margin-bottom: 120px;
}
.card-text1{
  margin-top: 250px;
}

.login{
  margin-top: 200px;
  margin-bottom: 200px;
}

.register{
  margin-bottom: 200px;
}

.header{
  font-family: 'Shadows Into Light', cursive;
  font-size: 100px
}